@use '../abstracts/' as a;

:root {

	// colors
	--clr-bg: hsl(240, 78%, 98%);

	--clr-gradient-start: hsl(236, 72%, 79%);
	--clr-gradient-end: hsl(237, 63%, 64%);

	--clr-text: hsl(233, 13%, 49%);
	--clr-text-light: hsl(234, 14%, 74%);
	--clr-text-dark: hsl(232, 13%, 33%);

	--clr-divider-dark: hsla(234, 14%, 74%, 0.444);

	// font-families
	--ff-sans: 'Montserrat', sans-serif;

	// font-sizes from ../abstract/type
	// Might need to add more breakpoints
	@each $screen-size, $font-size in a.$type-scale {
		@if $screen-size == small {
			@each $size, $value in $font-size {
				--fs-#{$size}: #{$value};
			}
		} @else {
			@include a.breakpoint(medium) {
				@each $size, $value in $font-size {
					--fs-#{$size}: #{$value};
				}
			}
		}
	}
}
