@use '../../sass/abstracts/' as abs;

.price-card {
	width: 100%;
	padding: 2.125rem 1.8125rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

	@include abs.breakpoint(medium) {
		min-width: 330px;
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&--promoted {
		background: linear-gradient(to bottom, var(--clr-gradient-start), var(--clr-gradient-end));
		color: #fff;
		padding-block: 3.375rem;

		.price-card__price-wrapper {
			color: #fff;


		}

		.price-card__feature {
			border-color: var(--clr-divider-light);

			&:first-child {
				border-color: var(--clr-divider-light);
			}
		}

		.price-card__cta {
			background: #fff;
			color: var(--clr-gradient-end);
			transition: background-color 300ms ease-in-out;

			@include abs.breakpoint(medium) {
				&:hover,
				&:focus {
					background-color: transparent;
					color: #fff;
					border-color: #fff;

					&::before {
						opacity: 0;
					}
				}
			}
		}
	}

	&__heading {
		font-size: var(--fs-500);
		margin-bottom: 1rem;
	}

	&__price-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5rem;
		color: var(--clr-text-dark);

		&--enter { 
			opacity: 0;
			scale: 0.5;

			&-active { 
				opacity: 1;
				scale: 1;
				transition: opacity 400ms, scale 400ms;
			}

		}

		&--exit {
			&-active { 
				opacity: 0;
				scale: 0.5;
				transition: opacity 400ms, scale 400ms;
			}

		}
	}

	&__dollars {
		font-size: var(--fs-700);
	}

	&__price {
		font-size: var(--fs-800);
		letter-spacing: -0.3px;

		
	}

	&__features-list {
		list-style: none;
		padding: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
	}

	&__feature {
		padding-block: 1rem;
		border-bottom: 1px solid var(--clr-divider-dark);

		&:first-child {
			border-top: 1px solid var(--clr-divider-dark);
		}
	}

	&__cta {
		background: linear-gradient(to right, var(--clr-gradient-start), var(--clr-gradient-end));
		border: 1px solid transparent;
		border-radius: 6px;
		width: 100%;
		padding-block: 0.875rem;
		font-size: var(--fs-300);
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1.02px;
		cursor: pointer;

		position: relative;
		z-index: 1;
		

		transition: color 300ms ease-in-out, border-color 300ms ease-in-out;

		@include abs.breakpoint(medium) {
			span {
				position: relative;
				z-index: 3;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: #fff;
				opacity: 0;
				transition: opacity 400ms;
				z-index: 2;
				border-radius: inherit;
			}


			&:hover,
			&:focus {
				border-color: var(--clr-gradient-end);
				color: var(--clr-gradient-end);

				&::before {
					opacity: 1;
				}
			}
		}
	}
}