@use '../../sass/abstracts/' as abs;

// Switch - the box around the slider
.pricing-toggle__switch {
	position: relative;
	display: inline-block;
	width: 2.6875rem;
	height: 1.375rem;
	
	@include abs.breakpoint(medium) {
		width: 2.75rem;
	
	}

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, var(--clr-gradient-start), var(--clr-gradient-end));
		transition: transform .4s cubic-bezier(0.85, 0, 0.15, 1);
		border-radius: 25px;
		z-index: 1;

		&:hover::after {
			opacity: 1;
		}

		&::before {
			position: absolute;
			content: "";
			height: 14px;
			width: 14px;
			left: 4px;
			bottom: 4px;
			background-color: #fff;
			transition: .4s;
			border-radius: 50%;
			z-index: 3;
		}

		&::after {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: var(--clr-gradient-start);
			border-radius: inherit;
			opacity: 0;
			transition: opacity 400ms;
			z-index: 2;
		}
	}
}

// input:checked + .slider {
// 	background-color: $sliderBg;
// }

input:focus + .slider {
	box-shadow: 0 0 1px var(--clr-text-dark);
}

input:checked + .slider:before {
	transform: translateX(20px);
}
