@use './sass/abstracts/' as abs;

.page-wrapper {
	min-height: 100vh;
	background-color: var(--clr-bg);
	padding: 4rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		font-size: var(--fs-600);
		margin-bottom: 2.875rem;
	}
}

.pricing-toggle {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 5.0625rem;

	&__label {
		color: var(--clr-text-light);
	}

}

.cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}